{% extends "index.html" %}

{% block content %}
  <div class="container-fluid">
    <table id="datasets-table" class="table table-bordered table-striped">
      <thead>
        <tr>
            <th>Id</th>
            <th>Dataset</th>
            <th>Result</th>
            <th>Exception</th>
            <th>Processing</th>
            <th>Uploaded</th>
        </tr>
      </thead>
      <tbody>
        {% for data in datasets %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.data }}</td>
            <td>{{ data.result }}</td>
            <td>{{ data.exception }}</td>
            <td>{{ data.in_process }}</td>
            <td>{{ data.data_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

