{% extends "index.html" %}
{% load tags %}

{% block content %}

{% if is_fail %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only"></span>
        There are some exceptions. <a href="/status">Check status</a>
    </div>
{% endif %}

{% show_pagination datasets %}

  <div class="container-fluid">
    <table id="datasets-table" class="table table-bordered table-striped">
      <thead>
        <tr>
            <th>Id</th>
            <th>Dataset</th>
            <th>Result</th>
            <th>Exception</th>
            <th>Processing</th>
            <th>Uploaded</th>
        </tr>
      </thead>
      <tbody>
        {% for data in datasets %}
        <tr>
            <td><a href="/api/dataset/{{ data.id }}">{{ data.id }}</a></td>
            <td>{{ data.data }}</td>
            <td>{{ data.result }}</td>
            <td>{{ data.exception }}</td>
            <td>{{ data.in_process }}</td>
            <td>{{ data.data_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

